* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: lightblue;
    text-decoration: underline;
}


body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "header header"
                         "intro intro"
                         "chistory chistory"
                         "education education"
                         "footer footer";
                        
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr) auto;
    align-content: start;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-color: #EAEDED;
    background-image: url("Images/53949426179_1e3cd55d2b_o.png");
    background-size:cover;
    background-attachment: fixed;
    overflow: scroll;

}

/* Row 1 */
.header {
    grid-area: header;
    color: white;
    background-color: #db6363;
    text-align: center;
    margin: 0;
    width: 100%;
    font-family: "Fugaz One", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    top: 0;
    border-bottom: 5px solid #b9b7b6;
}

.header h1 {
    border-bottom: 2px solid white;
    margin: 0;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*overflow: scroll;*/
    margin: 0;
}



/* Row 2 */
.intro {
    grid-area: intro;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}


.prof_picture {
    border: 5px solid white;
    flex-grow: 1;
    max-width: 30rem;
    height: auto;
    border-radius: 100px;
}

/*Container outline for each section on the page*/

.grid_box {
    vertical-align: middle;
    border: .5rem solid #db6363;
    background-color: #8b8b8b;
    width: 90%;
    margin: 5%;
}

.grid_box_career {
    vertical-align: middle;
    border: .5rem solid #db6363;
    background-color: #8b8b8b;
    width: 90%;

}


.grid_box_education {
    vertical-align: middle;
    border: .5rem solid #db6363;
    background-color: #8b8b8b;
    width: 90%;
    margin: 0 5% 5% 5%;
    
}

.summary {
    vertical-align: middle;
    align-self: center;
    color: white;
    font-weight: bold;
    max-width: 50%;
    min-width: 375px;
}

.summary h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;

    
}

.summary p {
    text-align: center;
    color: white;
    font-size: 1.75rem;
}



/* Row 3 */
#chistory {
    grid-area: chistory;
    vertical-align: middle;
    color: white;
    font-weight: bold;

}

#chistory div {
    align-self: start;

}

#chistory h2 {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 3px solid white;
    width: 100%;
}

#chistory p {
    padding: 1rem;

}


/* Row 4 */
#education {
    grid-area: education;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

#education div {
    align-self: start;
}

#education h2 {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 3px solid white;
    width: 100%;
}


#education p {
    padding: 1rem;
}

/* Row 5 */
footer {
    display: flex;
    flex-wrap: wrap;
    grid-area: footer;
    height: 12%;
    min-height: 80px;
    width: 100%;
    bottom: 0px;
    color: white;
    background-color: #db6363;
    font-family: "Fugaz One", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    border-top: 5px solid #b9b7b6;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.resume {
    color: white;
}

.resume .short_res {
    display: none;
}

.linkedin span {
     margin-right: 1rem;
}

.linkedin img {
    max-height: 2rem;
    width: auto;
    vertical-align: middle;
}


@media only screen and (max-width: 1050px) {
    .linkedin span{
        display: none;
    }
    .email span{
        display: none;
    }
    .resume .full_res {
        display: none;
    }
    .resume .short_res {
        display: inline;
    }
    .prof_picture {
        margin: 2rem;
    }
}


@media only screen and (max-width: 480px) {
    .linkedin span{
        display: none;
    }
    .email span{
        display: none;
    }
    .menu {
    font-size: 1rem;
}
}


