body {
    margin: 0;
    padding: 0;
}


h1 {
    color: blue;
    background-color: orange;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    border: 3px dotted rgb(146, 164, 202);
    margin: 0;
}